@import "./menu.css";
@import "./nav.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
@import "./section1.css";
@import "./2_section.css";
@import "./section3.css";
@import "./footer.css";
@import "./section_Last.css";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0px;
  width: 100%;
  height: 100vh;
  font-size: large;
  font-family: "IBM Plex Sans KR";
}

@keyframes move {
  from {
    left: -300px;
  }
  to {
    left: 0px;
  }
}
